#toolBox{
    text-align: left;
    background-color: brown;
    width: fit-content;
    height: auto;
    /* display: inline-block; */
}

.container {
    height: 100%;
}

html, body {
    height: 100%;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin: 10px;
}

.card{
    margin: 10px;
}

.card-link{
    color: white;
}

#accordion{
    margin: 20px 0px;
}